body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFB800;
    height: 68px;
    width: auto;
}

button {
    border: none;
    outline: none;
}

a {
    color: white;
    text-decoration: none;
}

.iconugn {
    flex-grow: 0;
    max-width: 50px;
}

.logo {
    flex-grow: 1;
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 7vw;
    margin: auto;
}

.menuicon {
    float: right;
    width: 42px;
}

#menu_button {
    background-color: #FFB800;
}

#main_menu {
    background-color: #333333;
    transform: translateX(115%);
    transition: transform .5s ease;
}

#main_menu.active {
    display: block;
    margin: 0;
    transform: translateX(0);
}

#exit_menu {
    float: right;
    right: 0;
    top: 0;
    padding-right: 8px;
    padding-top: 13px;
    background-color: #333333;
}

#close {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(98%) contrast(107%);
}

nav {
    position: fixed;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 10;
}

.bestall {
    border-radius: 30px;
    background-color: #FFB800;
    color: black;
    width: 172px;
    height: 62px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 31px;  
    margin-bottom: 27px;
    margin-left: 21px;
}

#line {
    background-color: #FFB800;
    width: 100%;
    height: 2px;
    position: absolute;
    margin-top: 67px;
}

.navtext {
    color: white;
    font-family: 'Poppins';
    font-size: 26px;
    padding-left: 20px;
    height: 30px;
}

#txt {
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;
}

#centered {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sintony';
}

.container {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Sintony';
    font-size: 14px;
}

h1 {
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 100;
}

img {
    width: 100%;
}

.genvag {
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 1;
}

.box {
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.overlay {
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: 100%;
    opacity: 0.7;
    background-color: #333333;
}
  
.text {
    color: white;
    font-size: 20px;
    position: relative;
    z-index: 2;
    text-align: center;
}


footer {
    background-color: #333333;
    height: 515px;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Poppins';
    padding-top: 45px;
    font-size: 26px;
    text-decoration: underline;
    text-decoration-color: #FFB800;
}

.ftext {
    font-family: 'Sintony';
    font-size: 20px;
    margin: 5px;
}

.cr {
    margin-top: 70px;
    font-family: 'Sintony';
    font-size: 12px;
}

.centered {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

.modell {
    border-width: 2px;
    border-style: solid none none none;
    border-color: black;
}

.name {
    padding-top: 15px;
    font-family: 'Poppins';
    font-size: 20px;
    margin: 0;
}

.price {
    font-family: 'Poppins';
    font-size: 16px;
    margin: 0;
}

.arrow {
    width: 31px;
    height: 31px;
    padding-top: 10px;
}

@media only screen and (min-width: 600px) {
    body {
        background-color: lightblue;
        visibility: hidden;
    }
    nav {
        visibility: hidden;
    }
    header {
        visibility: hidden;
    }
    footer {
        visibility: hidden;
    }
    section {
        visibility: hidden;
    }
}
